# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.log
media/
staticfiles/
static/
.venv

# Django migrations
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.coverage
*.cover
*.py,cover

# Others
*.swp
*.bak
*.tmp